{{template "header.html"}}
   <a id="acount" href="/{{.}}">{{.}}</a>
   </nav>
<body>

<h1>{{.Title}}</h1>
<div id=input>
    <h2>login page</h2>
    <input type="text" placeholder="email" pattern=".{6,40}" autofocus required><br><br>
    <input type="password" placeholder=password required><br><br>
    <button onclick="login" >login</button>
</div>
</body>
<style>
#input {
    position: center;
    height: 20em;
    position: relative; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* margin: 0;
    margin-right: -50%; */
}
button {
    width:220px;
}
#acount {
    align:right;
}
</style>
</html>
