{{template "header.html"}}    
</head>
<body>
    <nav>
    <a href="/">home</a>
    <a href="/login">login</a>
    </nav>

    <div id="sign">
    <input v-model="user.username" type="text" placeholder="username" pattern=".{4,10}" required title="4 to 10 characters" autofocus ><br><br>
    <input v-model="user.password" type="password" placeholder="password" pattern=".{10,}"   required title="10 characters minimum"><br><br>
    <input v-model="user.email" type="text" placeholder="email"><br><br>
    <input v-model="user.phon" type="text" placeholder="nember phon"><br><br>

    <button v-on:click="signup" id="submit" title="resgister in this site" >submit</button>
    </div>


</body>
<script>

// sign_up logic
var sign_up = new Vue({
     el: '#sign',
     data:{
         nil : false,
         user: {
             //username: '',
            //password: '',
         },
     },
     methods: {
         signup: function() { // undefined
 
                 // hide wornning message
                 // this.nil = false,
 
                 // post tweeti
                 axios.post('http://localhost:8080/newuser',
                 this.user,
                 //{username: "new user", password: "newpass"}
                 )
                 .then(function (response) {
                     if (response.data == "ok") {
                        location.replace("http://localhost:8080")
                     } else {
                       console.log(response.data)
                     }
                 })
                 .catch(function (error) {
                      console.log("Have an: "+ error)
                 });
             } 
         },
})

</script>
{{template "style.html"}}
<style>

#sign {
    position:center;
    height: 10em;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#submit {
    width: relative;
}
</style>
</html>
