<!DOCTYPE html>
<html>
<body>
<head>
        <link rel="icon" type="image/png" sizes="32x32" href="a/icon/favicon-32x32.png"><link rel="manifest" href="/site.webmanifest"><!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
        <meta charset="utf-8">
        <script src="a/vuedev.js">// Todo : move vue.min.j here </script>
        <script src="a/axios.min.js"></script><!--<script src="vue-router-3.3.4.js"></script>-->
 </head>

