{{template "header.html"}}
<nav>
        <a href="/">Home</a>
        <a href="/mystore">Mystore</a>
        <a href="/stores">Stores</a>
        <a href="/acount">acount</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/post">post</a>
    </nav>
<p>{{.Title}}</p>
                                                            
<img src="a/imgs/turtel.jpg"/>
<img src="a/imgs/food2.png"/>
<img src="a/imgs/food3.png"/>
<img src="a/imgs/food4.png"/>
<img src="a/imgs/food5.png"/>
<img src="a/imgs/food7.png"/>
<img src="a/imgs/food1.png"/>
<img src="a/imgs/food6.png"/>
<img src="a/imgs/bot.png"/>
<img src="a/imgs/bot2.png"/>
<img src="a/imgs/bot3.png"/>
<img src="a/imgs/bot4.jpg"/>
<img src="a/imgs/vs.png"/>
<img src="a/imgs/vs.jpg"/>

<!--<img src="data:image/png;base64, .... -->

</body>
<style>
img {
height:150px;
width:150px;
}
</style>
</html>
