<!DOCTYPE html>
<html>

<head>
        <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png"><link rel="manifest" href="/site.webmanifest"><!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
        <meta charset="utf-8">
        <script src="vuedev.js">// Todo : move vue.min.j here </script>
        <script src="axios.min.js"></script><!--<script src="vue-router-3.3.4.js"></script>-->
    </head>
<body>
    <nav>

        <a href="/">Home</a>
        <a href="/acount">acount</a>
        <a href="/mystore">mystore</a>
        <a href="/stores">stores</a>
        <a href="/image">images</a>
        <a href="/login">login</a>
       <button>post item</button>
    </nav>
    <h1>{{.Title}}</h1>
      <h2>Home page</h2>
    {{template "partials/footer" .}}
</body>
    <script src="app.js">// Todo : move app.js here  </script>
    {{template "partials/navbar" .}}
    {{template "partials/globstyle" .}}
</html>
