{{template "header.html"}}
<body>
    <nav>
        <a href="/">home</a>
        <a href="/sign">signup</a>
    </nav>
    <h1>{{.Title}}</h1>
      <div id="input">
         <h2>login page</h2>
         <input v-model="user.username" type="text" placeholder="username" autofocus><br><br>
         <input v-model="user.password" type="password" placeholder=password ><br><br>
         <button v-on:click="login" >login</button>

     </div>
    <script src="a/app.js">// Todo : move app.js here  </script>
</body>
{{template "style.html"}}
<style>
#input {
    position:center;
    height: 10em;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

//#submit {    width: relative;}
</style>
</html>
