<!DOCTYPE html>
<html> <!-- <html dir="rtl"> for arabic -->
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="a/icon/favicon-32x32.png"><link rel="manifest" href="/site.webmanifest"><!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
  <meta charset=UTF-8>
  <script src="a/vuedev.js">/* Todo : remove vue */ </script>
  <script src="a/svelte.js">/* Todo : use svelte.min.js */ </script>
  <script src="a/axios.min.js"></script><!--<script src="vue-router-3.3.4.js"></script>-->
  <link rel="stylesheet" href="a/style.css">

</head>
<nav>
   <a href="/">Home</a>
   <a href="/mystore">Mystore</a>
   <a href="/stores">Stores</a>
   <a href="/acount">acount</a>
   <a href="/login">Login</a>
   <a href="/sign">Signin</a>
   <a href="/logout">Logout</a>
   <a href="/post">post</a>
