<style>
nav {
    //border: 1px;
    //border-style: solid;
    //border-color:#fbbb;
    padding: 10px;
    //margin: 10px;
    background-color: #fbba;
}
nav a {

    padding: 10px;
}
nav a:hover {
    color:#000;
    background-color:#a3ffd4;
}

body {
    background-color: #a3ffd4;
}

button {
    width:264px;
}

input {
    width:250px;
}
span {
    background-color: #F29D8A;
}

nav > a {
    padding-left:10px;
}
#center {
//position:center;
padding:150px;
}

//footer {background-color:#ffba;}
</style>
